header{
    background-color: lightgray;
    text-align: center;
  
}

body{
    background-color: aliceblue;
}



#logo{
    margin-top: 10px;
    margin-left: 15px;
    border: 5px solid #333;
}

table{
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

th{
    font-size: large;
}

tr{
    width: 100%;
}

td{
    text-align: center;
}

footer{
    color: #000000;
    background-color: rgb(141, 213, 213);
    text-align: center;
    font-size: medium;
    padding: 0px;
  
    
}

#nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

#nav-item{
    margin-right: 50px;
}

.container{
    display: flex;
    justify-content: center;
}

main{
    background-color: aliceblue;
    align-items: center;

}

#img{
    height: 150px;
}

h1{
    text-align: center;
}



@media(max-width:768px){
    #img{
      display: none;
    }
    table{
      width: 100%;
    }

  }