header{
    background-color:lightgray;
    padding: 0px;
    text-align: center;
    font-size: larger;
}

body{
    background-color: aliceblue;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-self: space-between;
    align-items: center;
    .container1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: normal;
    }

    
}

#logo{
    margin-top: 10px;
    margin-right: auto;
    border: 5px solid #333;
}

.nav li{
    align-items: normal;
}



.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto auto auto auto;
}

.img1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 150px;
    height: auto;
    
}

.img2{
    grid-column: 2/3;
    grid-row: 1/2;
    
    width: 150px;
    height: auto;
}

.img3{
    grid-column: 3/4;
    grid-row: 1/2;

    width: 150px;
    height: auto;

}

.img4{
    grid-column: 4/5;
    grid-row: 1/2;
    
    width: 150px;
    height: auto;
}

.img5{
    grid-column: 1/2;
    grid-row: 2/3;
    
    width: 150px;
    height: auto;
}
.img6{
    grid-column: 2/3;
    grid-row: 2/3;
    
    width: 150px;
    height: auto;
}
.img7{
    grid-column: 3/4;
    grid-row: 2/3;
    
    width: 150px;
    height: auto;
}
.img8{
    grid-column: 4/5;
    grid-row: 2/3;
    
    width: 150px;
    height: auto;

}.img9{
    grid-column: 1/2;
    grid-row: 3/4;

    width: 150px;
    height: auto;
}
.img10{
    grid-column: 2/3;
    grid-row: 3/4;
    
    width: 150px;
    height: auto;
}

.img11{
    grid-column: 3/4;
    grid-row: 3/4;
    
    width: 150px;
    height: auto;
}

.img12{
    grid-column: 4/5;
    grid-row: 3/4;

    width: 150px;
    height: auto;
}



footer{
    color: #000000;
    background-color: rgb(141, 213, 213);
    text-align: center;
    font-size: medium;
    padding: 0px;
    
}

#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#nav-item{
margin-right: 50px;
}


main{
background-color: aliceblue;
align-items: center;
}

h1{
    text-align: center;
}

#p1{
    font-size: large;
    text-align: center;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
    border: 3px solid #333;
    border-radius: 50px;
}


@media(max-width:768px){
    .container{
        display: none;
    }
    .grid-container{
        display: block ;
    }
    footer{
        width: auto;
    }
}